<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pc.mecagoenmismuertosv5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegistreUsuariActivity" />
        <activity android:name=".RegistreProducteActivity" />
        <activity android:name=".OpcionsConsultaUsuari" />
        <activity android:name=".ConsultaUsuari" />
        <activity android:name=".ConsultaUsuariRecycler" />
        <activity android:name=".ConsultaProducte" />
        <activity android:name=".DetallProducte" />
        <activity android:name=".OpcionsConsultaProducte" />
        <activity android:name=".ConsultaProducteOpcions" />
        <activity android:name=".PreferenciesColors" />
        <activity android:name=".OpcionsPreferencies" />
        <activity android:name=".IdiomaSegundari"></activity>
        <activity android:name=".PreferenciesIdioma"></activity>
        <activity android:name=".PreferenciesNormalsLoginMuyCutre"></activity>
        <activity android:name=".PreferenciesCopy"></activity>
    </application>

</manifest>